[submodule "auth-service/pkg/log"]
	path = auth-service/pkg/log
	url = https://github.com/braunkc/log
[submodule "auth-gateway/pkg/log"]
	path = auth-gateway/pkg/log
	url = https://github.com/braunkc/log
[submodule "orchestrator-service/pkg/log"]
	path = orchestrator-service/pkg/log
	url = https://github.com/braunkc/log
[submodule "orchestrator-gateway/pkg/log"]
	path = orchestrator-gateway/pkg/log
	url = https://github.com/braunkc/log
[submodule "bot-container/pkg/log"]
	path = bot-container/pkg/log
	url = https://github.com/braunkc/log
[submodule "executor-service/pkg/log"]
	path = executor-service/pkg/log
	url = https://github.com/braunkc/log
