CONFIG_PATH=./config/config.yml

SECRET_KEY=zzbibhavenposvnupz3hpiurfgvai19jpwuehrtiu3oy41

GRPC_HOST=0.0.0.0
GRPC_PORT=50051

DB_HOST=pg
DB_PORT=5432
DB_NAME=ai
DB_USER=app
DB_PASSWORD=1111

KAFKA_HOST=kafka
KAFKA_PORT=9092