CONFIG_PATH=./config/config.yml

SECRET_KEY=zzbibhavenposvnupz3hpiurfgvai19jpwuehrtiu3oy41

GRPC_HOST=localhost
GRPC_PORT=50050

GRPC_ORCHESTRATOR_HOST=localhost
GRPC_ORCHESTRATOR_PORT=50051

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ai
DB_USER=app
DB_PASSWORD=1111
